html{
  background-color: rgba(238, 253, 255, 0.685);
}


.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-right: 50px;
    
    }

  .grid > article {
    border: 1px solid rgb(70, 68, 62);
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border-radius: 10px;
  }
  .grid > article img {
    max-width: 100%;
    border: 1px solid rgb(70, 68, 62);
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border-radius: 13px;


  }
  .text {
    padding: 0 20px 20px;
    text-align: center;
    margin: 10px;
    margin-bottom: 10px;
   
  }
  .text > button {
    background: rgb(252, 156, 13);
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    }
.title h2{
    text-align: center;
    margin-top: 30PX;
    color: rgb(238, 160, 15);
    font-weight: 700;
}
.PARA p{
    text-align: center;
    font-size: large;
    margin-bottom: 40px;
    font-weight: 500;
}

/*This is google font sheet*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');      

/* Navigation bar style sheet*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    line-height: 70px;
    background: rgb(0, 0, 0);
    padding: 0 80px;
    box-shadow: 0px 3px 10px rgba(54, 50, 50, 0.3)
}
nav .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
nav .navbar h3{
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    color: #fff;
}
nav .navbar .nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    
}
nav .navbar .nav-items li{
    list-style: none;
    
}
nav .navbar .nav-items li a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    transition: all 0.3s;
    color: white
}


nav .navbar .nav-items li a:hover{
     color: #dbce18;
     
}
.container a {
  color: rgb(32, 30, 30);
  font-size: 1.1em;
  font-weight: 600;
  background: rgb(235, 222, 222);
  padding: 10px 22px;
  box-shadow: #dbce18 10pc;
    
}

/* Video section stylesheet*/
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: rgba(5, 47, 110, 0.363) ;
    z-index: -1;
}

.container{
    margin: 200px 80px 0 80px;
}
.container h2{
    color: aliceblue;
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
}
.container p{
    color: aliceblue;
    margin: 10px;
    font-size: 1.1em;
    font-weight: 300;
    padding-bottom: 25px;

 /*paragraph section*/   
    
}
.image{
  margin-left: 20px;
  margin-top: 30px;


}
.paragaraph {
  text-align: center;
  margin-left: 90px;
  margin-top: -400px

  
}

.paragaraph{
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
  color: rgb(63, 42, 2);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}

.paragaraph p{
  float: right;
  margin: 0 15px 0 0;
  margin-top: -330px;
  margin-left: 550px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  
}

.ti{
  margin-top: 20px;
  margin-left: 20px;
  color:orangered;
  text-align: center;
}

.imagee{
  margin-right: 20px;
  margin-top: 10px; 
  text-align: right;

}
.paragaraphtwo p{
  float: left;
  text-align: left;
  margin: 0 15px 0 0;
  margin-top: -300px;
  margin-left: 20px;
  margin-right: 550px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  font-weight: 700;
}
.fafa{
  text-align: center;
}

.head h2{
    margin: 20px;
    color: rgb(255, 243, 174);
    font-weight: 700;
    padding-top: 20px;
    text-align: center;
}
.dicription{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 300;
    color: azure;
    
}
 .Location{
     margin: 30px;
     width: 70%;
     padding-top: 50px 0;
   

 }

.Location iframe{
    width: 100%;
    text-align: center;
   
}
.image3{
  width: 50px;
}
.row{
  margin-left: 30px;

}
.call h2{
  font-size: larger;
  color: rgb(240, 237, 236);
  font-weight: 700;
  
}

.addBtn{
  color: rgb(32, 30, 30);
  font-size: 1.1em;
  font-weight: 600;
  background: rgb(175, 36, 36);
  padding: 10px 22px;
  box-shadow: #dbce18 10pc;
    
}
.footer {
  position: center;
  left: 0;
  bottom: -8;
  top: -8;
  width: 100%;
  background-color: rgb(255, 158, 11);
  color: white;
  text-align: center;
}